@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.c-rating-bar {
  display: flex;
  align-items: center;
  height: 34px;

  &.is-disabled {
    height: auto;

    .c-rating-bar__item {
      cursor: default;
    }
  }

  &__item {
    @include box-elevation;
    background-color: $color-primary-light;
    border-radius: 50%;
    font-size: 0;
    padding: 4px;
    margin: 0 1px;
    user-select: none;
    cursor: pointer;

    .material-icons {
      font-size: 12px;
      color: $color-text-secondary;
    }

    &.is-active {
      background-color: $color-accent;

      .material-icons {
        color: $color-text;
      }
    }
  }
}
