@import "../../assets/styles/mixins";
@import "../../assets/styles/variables";

.c-recipe-filters {
  @include box-elevation;
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 16px;
  border-radius: 2px;
  background-color: $color-white;

  &__header {
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 8px;
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__label {
    margin-right: 16px;
  }

  &__buttons {
    margin-top: 16px;
  }
}
