@import "../../assets/styles/variables";

.c-recipe-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .material-icons {
    color: $color-gray-300;
    margin-left: 8px;
    cursor: pointer;
    user-select: none;

    &:first-child {
      margin-left: 0;
    }

    &.is-active {
      color: $color-black;
    }
  }
}
