@import '../../assets/styles/variables';

.c-user-details {
  &__banner {
    width: 100%;
    height: 300px;
  }

  &__wrapper {
    display: flex;
    margin-top: 32px;
    padding:  0 32px;
    position: relative;
  }

  &__avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  &__content {
    flex-grow: 1;
    margin-left: 32px;
  }
}
